body {
    background: #1490d7;
}

div.welcometext {
    position: fixed; /* or absolute */
    top: 50%;
    padding: 20px; 
    width: 100%;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px;
    color: rgb(243, 243, 243);
    background: rgba(255, 255, 255, .12);
}